body {
    margin: 0;
    padding: 0;
    background-image: url(imagem/imgfundo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
}

 .container--section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 300px;
}

.menu nav ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    align-items: center;
}

.menu nav ul, nav li {
    list-style: none;
    padding: 17px;
    font-size: 13px;
}

nav a {
    text-decoration: none;
    color: rgb(63, 62, 62);
    font-weight: 800;
}

nav a:hover {
    color: red;
}

#ufc {
    margin: 0 20px;
    font-size: 20px;
    color: black;
}

nav #ufc:hover {
    color: red;
}

.botao {
    display: flex;
    gap: 10px;
    margin-top: 50px;
}

.botao button {
    border: solid 2px black;
    height: 50px;
    width: 150px;
    color: black;
    font-weight: bolder;
    cursor: pointer;
}

.menuMobile {
    display: none;
    flex-direction: column;
    gap: 5px;
    width: 40px;
    cursor: pointer;
}

.mm-line {
    height: 3px;
    background-color: black;
}

/* Responsividade */
@media (max-width: 768px) {
    .menu nav ul {
        display: none;
        flex-direction: column;
        background-color: white;
        position: absolute;
        top: 60px;
        width: 100%;
        left: 0;
        padding: 0;
    }
    .menu nav ul.active {
        display: flex;
    }
    
    .menuMobile {
        display: flex;
    }
}

@media (min-width: 700px) and (max-width: 1020px) {
    .menu nav ul, nav li {
        list-style: none;
        padding: 5px;
        font-size: 13px;
        text-align: center;
    }

    #ufc {
        margin: 0 15px;
        font-size: 20px;
        color: black;
        text-align: center;
    }
}