body{
    padding: 0px;
    margin: 0px;
    background-image:url('imagem/fundo.jpg');
    background-position-x: center;
    background-size: cover;
    background-attachment: fixed;
}

*{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    display: flex;
    justify-content: center;
}

.container{
    display: flex;
    flex-direction: column;
    background-color: rgb(15, 15, 15);
    width: 900px;
    color: white;
}

.nome{
    display: flex;
    justify-content: center;
    font-size: 50px;
    border-bottom: 1px solid white;
}

.descricao{
    display: flex;
    justify-content: center;
    font-weight: 300;
    margin-top: 10px;
}

header p{
    display: flex;
    justify-content: center;
}

section{
    display: flex;
    justify-content: center;
    
}

.foto_descricao{
    width: 218px;
	border:5px solid #fff;
	border-radius: 7px;	
	display: flex;
	margin: auto;
	color: #fff;
    
}

.foto_descricao img{
    border-radius: 7px;
   
}

.sobre{
    background-color: white;
    margin-top: 5px;
}

.sobre div{
    text-indent: 20px;
    margin-left: 5px;
    margin-right: 5px;
    letter-spacing: 1px;
    line-height: 1.2;
    margin-bottom: 20px;
    color: black;
    margin-top: 5px;
    
}

h1{
    text-align: center;
    margin-top: 30px;
}

#imgspn{
    display: flex;
    margin-right: 15px;
    float: right;
}

.container img{
    border-radius: 7px;
}

footer{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-top: 10px;
}




